/*!
 * Clemens Goering - Notification (http://www.cgoering.de)
 * Copyright 2013-2014 Clemens Goering / CGOERING
 * Notification and information Framework
 */

.text-red {
	color:red;
}

.text-black {
	color:black;
}

.text-white {
	color:white;
}